<%- include('../includesProve/head.ejs') %>
</head>
<body>
    <%- include('../includesProve/nav.ejs') %>
    <main>
        <h1>
            Nothing there!
        </h1>
    </main>
    <%- include('../includesProve/end.ejs') %>